@{
    ViewData["Title"] = "Assignment 2 | Linda Ryan (020080205)";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Hike Tracker!</h1>
    <h2>Hike Tracker is a simple way for hikers to log their hard work and track their progress.</h2>
    <p>
        This project is built using ASP.NET Core 2.2, SQL Server, Entity Framework,
        and Twitter Bootstrap for COMP2084 at Georgian College.
    </p>
    <p>
        Source code available at <a href="https://github.com/lindaryan/comp2084-a2" alt="View on GitHub">
            https://github.com/lindaryan/comp2084-assignment2</a>.
    </p>
</div>
